@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$inter: 'Inter', sans-serif;
$rhetorik: 'Inter', sans-serif;

$base: 16px;

$body-small: 1.125rem;
$body: 1.25rem;
$subtitle: 2rem;
$title: 4.5rem;

$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;
